@media print {
  @page {
    size: A4 portrait;
    margin: 0;
  }

  html,
  body,
  #app {
    background: #fff !important;
  }

  .side,
  .top,
  .no-print {
    display: none !important;
  }

  .shell {
    display: block !important;
  }

  .main {
    padding: 0 !important;
  }

  .paper {
    box-shadow: none !important;
    margin: 0 !important;
  }
}
